@import url('../../style.css');

html {
    font-size: 16px;
}

main {
    background-color: var(--bg-color);
    min-height: 90vh;
    min-width: 50%;
    max-width: 100%;
    
    padding-top: 15vh;

    display: flex;
    flex-direction: column;
    align-items: center;

}
main .slide {
    display: flex;
    flex-direction: column-reverse;
    justify-content: center;
    align-items: center;
    gap: 1rem;

    text-align: justify;

    width: 100%;
}
main .slide section {
    display: flex;
    flex-direction: column;
    gap: 1rem;

    width: 40%;
}
main .slide button {
    max-width: 150px;
    min-width: 100px;
    width: 25%;
    padding: 15px;
    cursor: pointer;
    margin-right: 1rem;

    font-weight: 700;
}


main .n2, .n3 {
    display: none;
    overflow: hidden;
}

main img {
    max-width: 100%;
    width: 300px;
}

main .slide .btn2 {
    background-color: var(--branco);
    color: black;
}

@media only screen and (min-width: 1024px) {
    main {
        flex-direction: row;
        justify-content: center;
        align-items: center;
    }
    main .slide {
        flex-direction: row;
        align-items: center;
        justify-content: center;
    }
}