@import url("../../style.css");

main {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    align-items: start;
}

main section {
    width: 85vw;
    margin: 0 auto;
    text-align: justify;
}